@use '../scss/base/_vars' as *;
@forward './ui-menu/ui-menu';
@forward './title/title';
@forward './form/form';
@forward './button/button';
@forward './menu-button/menu-button';
@forward './button-inner/button-inner';
@forward './input/input';
@forward './select/select';
@forward './button-circle/button-circle';
@forward './button-icon/button-icon';
@forward './button-close/button-close';
@forward './modal/modal';

.ui {
  $root: &;
  margin-top: 100px;
  font-family: $font-family-second;

  &__item {
    margin-bottom: 50px;
  }

  &__header {
    background: $color-bg;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    color: $color-white;
  }
  &__item-group {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    border: 3px dashed $color-bg;
  }
  &__item-group-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  }
}