@use 'sass:map';
@use 'mixins' as *;
@use 'vars' as *;

:root {
  --vh: 1vh;
  --scrollbar-width: 0px;
}

html {
  font-size: $font-size;
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  &[data-no-effects] {
    scroll-behavior: auto;
  }

  &[data-zoom='125'] {
    font-size: $font-size * 1.25;
  }

  &[data-zoom='150'] {
    font-size: $font-size * 1.5;
  }

  &[data-zoom='175'] {
    font-size: $font-size * 1.75;
  }

  &[data-zoom='200'] {
    font-size: $font-size * 2;
  }

  &[data-images='2'] {
    img,
    video,
    image {
      filter: grayscale(1);
    }
  }

  &[data-images='3'] {
    img,
    video,
    image {
      visibility: hidden;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  color: $color-text;

  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;

  &._overflow-hidden {
    overflow: hidden;
  }
}

.body-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  &.open {
    visibility: visible;
    opacity: .6;
  }
}
.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none !important;
}

.visible-md {
  @include down(sm) {
    display: none !important;
  }
}

.visible-lg {
  @include down(md) {
    display: none !important;
  }
}

.visible-xl {
  @include down(lg) {
    display: none !important;
  }
}

.text {
  &-nowrap {
    white-space: nowrap;
  }

  &-muted {
    color: rgba($color-text, 0.5);
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

a,
.link {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

@include placeholder {
  color: rgba($color-text, 0.5);
}

.necessaty_fields {
  display: none !important;
}

.fancybox-navigation {
  position: static;
}

.fancybox__nav {
  position: static;
}

.cover-pic,
.contain-pic {
  width: 100%;
  height: 100%;
}

.cover-pic {
  object-fit: cover;
  object-position: top center;
}

.contain-pic {
  object-fit: contain;
}

.svgsprite {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.screen-reader-only {
  @include screenReaderOnly;
}

a[href^='mailto:'] {
  overflow-wrap: anywhere;
}

._my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

._mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.link-hover {
  @include link-hover;
}
