@use '../../scss/base/_mixins' as *;
@use '../../scss/base/_vars' as *;

/* Основной стиль кнопки */
.button-icon {
  $root: &;

  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;
  color: $color-text;
  background: none;
  text-align: center;

  @include hover {
    background: #DEE4EE;
  }

  .svgsprite {
    width: 10px;
    height: 17px;
  }

  &.button-icon-small {
    width: 24px;
    height: 24px;

    .svgsprite {
      width: 6px;
      height: 12px;
    }
  }
}