@use '../../scss/base/_mixins' as *;
@use '../../scss/base/_vars' as *;

.form {
  &__field {
    margin-bottom: 15px;
  }
  &__button {
    margin: 30px 0;
  }
  &__policy {
    color: $color-gray400;

    a {
      color: $color-violet300;
      text-decoration: none;
    }
  }
}